In [174]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl

In [164]:
def limpieza(dataFrame):
    tablaLimpia = pd.read_csv(dataFrame, header=0)
    tablaLimpia = tablaLimpia.drop(['Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39'], axis=1)
    tablaLimpia = tablaLimpia.drop(['Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42','Unnamed: 43','Unnamed: 44'], axis=1)
    resultado = recorrerColumnasTabla(tablaLimpia)
    return resultado

def recorrerColumnasTabla(tablaLimpia):
    tipos = tablaLimpia.dtypes
    for i in range(len(tablaLimpia.columns)):
        nombreColumna = tablaLimpia.columns[i]
        nombreNuevoColumna = nombreColumna.upper().strip().replace(" ", "")
        tablaLimpia = tablaLimpia.rename(columns={nombreColumna: nombreNuevoColumna})  # opcional
        if tipos[i] == 'O' and nombreNuevoColumna!='AGE':
            arregloPalabras = separarLetras(pd.unique(tablaLimpia[nombreNuevoColumna]))
            tablaLimpia[nombreNuevoColumna] = quitarVariables(arregloPalabras,tablaLimpia,nombreNuevoColumna,pd.unique(tablaLimpia[nombreNuevoColumna]))
    return tablaLimpia

def separarLetras(columna):
    arregloLetras= []
    letra = ""
    for i in range(len(columna)):
        numeroenColumna = str(columna[i])
        if not(numeroenColumna=="nan"):
            numeroenColumna = numeroenColumna.upper().strip()
            if not(numeroenColumna in arregloLetras):
                arregloLetras.append(numeroenColumna)
    return arregloLetras

def quitarVariables(arregloNuevo,tablaLimpia,columna,arregloViejo):
    tablaSolucion = tablaLimpia[columna]
    for i in range(len(arregloNuevo)):
        for j in range(len(arregloViejo)):
            if( str(arregloViejo[j]).upper().strip() == str(arregloNuevo[i])):
                nuevaColumna = tablaSolucion.replace(str(arregloViejo[j]), str(arregloNuevo[i]))
                tablaSolucion = nuevaColumna 
    return tablaSolucion

In [165]:
tablaFinal = limpieza('COVID19_open_line_list.csv')
tablaFinal = tablaFinal.drop([5873],axis=0)
tablaFinal = tablaFinal[0:13173]

In [166]:
tablaFinal['SEX'].value_counts()

MALE      707
FEMALE    556
Name: SEX, dtype: int64

In [169]:
tablaFinal.columns

Index(['ID', 'AGE', 'SEX', 'CITY', 'PROVINCE', 'COUNTRY',
       'WUHAN(0)_NOT_WUHAN(1)', 'LATITUDE', 'LONGITUDE', 'GEO_RESOLUTION',
       'DATE_ONSET_SYMPTOMS', 'DATE_ADMISSION_HOSPITAL', 'DATE_CONFIRMATION',
       'SYMPTOMS', 'LIVES_IN_WUHAN', 'TRAVEL_HISTORY_DATES',
       'TRAVEL_HISTORY_LOCATION', 'REPORTED_MARKET_EXPOSURE',
       'ADDITIONAL_INFORMATION', 'CHRONIC_DISEASE_BINARY', 'CHRONIC_DISEASE',
       'SOURCE', 'SEQUENCE_AVAILABLE', 'OUTCOME', 'DATE_DEATH_OR_DISCHARGE',
       'NOTES_FOR_DISCUSSION', 'LOCATION', 'ADMIN3', 'ADMIN2', 'ADMIN1',
       'COUNTRY_NEW', 'ADMIN_ID', 'DATA_MODERATOR_INITIALS'],
      dtype='object')

In [175]:
pd.crosstab(index=tablaFinal['SEX'], columns=tablaFinal['SYMPTOMS'],
            margins=True).apply(lambda r: r/len(tablaFinal) *100,
                                axis=1)

SYMPTOMS,"37.1 ° C, MILD COUGHING","ABDOMINAL PAIN, DIARRHEA, FEVER, GENERAL MALAISE","ABDOMINAL PAIN, PULMONARY INFLAMMATION","ACHING MUSCLES, FEVER, PNEUMONIA",ACUTE PHARYNGITIS,"ANHELATION, COUGH, FEVER, PLEURAL EFFUSION, WEAKNESS",ANOREXIA,"ANOREXIA, FATIGUE",ASYMPTOMATIC,"CHEST DISTRESS, COUGH, EXPECTORATION, MUSCULAR SORENESS",...,"SORE THROAT, COUGH, FEVER (37 ℃)","SORE THROAT, FEVER (38-39 ℃)","SORE THROAT; FEVER, NASAL DISCHARGE","SPUTUM, COUGH SYMPTOMS, FEVER (37 ℃), COUGH, BREATHING DIFFICULTY","SYSTEMIC WEAKNESS, RUNNY NOSE, FEVER",TRANSIENT FATIGUE,"VOMITING, COUGH, FEVER (38.2 ℃), SORE THROAT",WEAKNESS,YES,All
SEX,,,,,,,,,,,,,,,,,,,,,
FEMALE,0.007591,0.000000,0.007591,0.000000,0.007591,0.007591,0.000000,0.007591,0.007591,0.007591,...,0.007591,0.000000,0.007591,0.007591,0.007591,0.000000,0.000000,0.007591,0.007591,1.578987
MALE,0.000000,0.007591,0.000000,0.007591,0.000000,0.000000,0.007591,0.000000,0.037956,0.000000,...,0.000000,0.007591,0.000000,0.000000,0.000000,0.007591,0.007591,0.000000,0.000000,2.087603
All,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,0.045548,0.007591,...,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,3.666591

In [176]:
pd.crosstab(index=tablaFinal['SEX'], columns=tablaFinal['AGE'],
            margins=True).apply(lambda r: r/len(tablaFinal) *100,
                                axis=1)

AGE,0-10,0-6,0.08333,0.25,0.5,1,1.75,10,10-19,11,...,81,82,83,84,87,88,9,94,96,All
SEX,,,,,,,,,,,,,,,,,,,,,
FEMALE,0.015183,0.000000,0.007591,0.007591,0.000000,0.007591,0.007591,0.000000,0.000000,0.007591,...,0.000000,0.015183,0.007591,0.015183,0.000000,0.000000,0.000000,0.007591,0.007591,3.856373
MALE,0.037956,0.007591,0.000000,0.000000,0.007591,0.007591,0.000000,0.053139,0.007591,0.007591,...,0.007591,0.007591,0.000000,0.000000,0.007591,0.022774,0.015183,0.000000,0.000000,5.139300
All,0.053139,0.007591,0.007591,0.007591,0.007591,0.015183,0.007591,0.053139,0.007591,0.015183,...,0.007591,0.022774,0.007591,0.015183,0.007591,0.022774,0.015183,0.007591,0.007591,8.995673